main {
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;

    padding: 3rem 6rem;
}

p {
    font-size: 0.9rem;
}

a {
    color: black;
    font-weight: 600;
}

.feature {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.description-1 {
    display: flex;
    gap: 8rem;
    align-items: center;
}

.description-2 {
    width: 60%;
}

.list {
    display: flex;
    gap: 2.5rem;
}

.list-item {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    padding: 0.8rem;
    width: 30%;

    border-radius: 10px;
    border: solid 1px #A9A9A9;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 3rem;
    }

    .list-item {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .list-item {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 3rem 1.5rem;
    }

    .list {
        flex-flow: column nowrap;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .description-1 {
        flex-flow: column-reverse nowrap;
        gap: 1rem;
        align-items: flex-start;
    }

    .description-2 {
        width: 100%;
    }
}