main {
    display: flex;
    flex-flow: column nowrap;
    gap: 12rem;

    padding: 10rem 18rem;
}

p {
    margin-top: 1rem;
}

.introduction {
    align-self: center;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.introduction a {
    text-decoration: none;
    color: white;
}

.introduction .button {
    padding: 1rem 1.5rem;

    background-color: black;
    font-weight: 700;

    width: 150px;

    border-radius: 15px;

    transition: all .3s ease-in-out;
}

.introduction .button:hover {
    background: -webkit-linear-gradient(#1B7432, #67B900);
}

.description {
    display: flex;
    gap: 8rem;
    align-items: center;
}

.reverse {
    flex-flow: row-reverse;
}

@media screen and (max-width: 1300px) {
    main {
        padding: 10rem;
    }
}

@media screen and (max-width: 1000px) {
    main {
        padding: 10rem 4rem;
    }

    .description {
        gap: 4rem;
    }
}

@media screen and (max-width: 800px) {
    main {
        padding: 8rem 2rem;
    }
}

@media screen and (max-width: 600px) {
    main {
        gap: 3rem;
        padding: 5rem 2rem;
    }

    h1 {
        font-size: 0.9rem;
    }

    .introduction {
        padding-bottom: 5rem;
    }

    .description {
        flex-flow: column-reverse nowrap;
        gap: 2rem;
        align-items: flex-start;
    }
}