main {
    padding: 3rem;
    padding-right: 10rem;
}

p {
    font-size: 0.9rem;
}

a {
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    main {
        padding: 3rem 1.5rem;
    }
}