* {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body {
    font-weight: 500;
}

header {
    display: inline;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding: 1.5rem 2.5rem;
}

.gradient-text {
    background: -webkit-linear-gradient(#1B7432, #67B900);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    text-align: center;

    padding: 2rem 0;

    color: #A9A9A9;
}

@media screen and (max-width: 600px) {
    .logo {
        padding-left: 1.5rem;
    }

    footer {
        padding: 2rem;
    }
}