* {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body {
    font-weight: 500;
}

header {
    display: inline;
}

.logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    margin: 1.3rem 2.5rem;

    position: sticky;
    top: 0;

    text-decoration: none;

    width: 100px;
}

.gradient-text {
    background: -webkit-linear-gradient(#1B7432, #67B900);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    text-align: center;

    padding: 2rem 0;

    color: #A9A9A9;
}